<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.android_webview">
    <application
        android:name="com.chromium_webview.Chromium"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="webview"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.WithActionBar">
        <activity android:name="com.chromium_webview.WebView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>